.navbar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 4rem;
}

.nav-link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition:
    background-color 0.2s,
    color 0.2s;
}

.nav-link.active,
.nav-link:hover {
  background-color: var(--primary-color);
  color: white;
}
