:root {
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --primary-color: #581c87;
  --secondary-color: #7e22ce;
  --mono: ui-monospace, Consolas, monospace;
  --text-dark: #333;

  font-family: var(--sans);
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;

  background-color: #fff;
  color: var(--text-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  min-height: 100svh;
}
